<app-status-header></app-status-header>

<div class="container" style="z-index:1">

      <!-- <app-dashboard></app-dashboard> -->
     
      <div class="col-md-4"></div>
     
      <div class="col-md-8">
        <app-line-graph 
          [graphType]="'temperature'"
          [yAxisTitle]="'Temp. [°C]'"
        >
        </app-line-graph>
        <br>
        <app-line-graph 
          [graphType]="'humidity'"
          [yAxisTitle]="'Humid. [%]'"
        ></app-line-graph>
        <br>

      </div>
</div>
