<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <!-- <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Urychlovac</a>
    </div> -->
    <div 
      class="col-md-2"
      *ngFor="let status of statuses, let i = index"
    >
      <a 
        class="list-group-item" 
        style="cursor: pointer"
      >
      <span 
        class="a-text label"
        [ngClass]="{
          'label-success': status.state, 
          'label-danger': !status.state
        }"
        
      > {{ status.name }} </span>
  
        <label
          class="switch pull-left"
        >
        <!-- (click)="setSelectedWarningOpenModal(status.name)" <input type="checkbox">
        <span class="slider round"></span> -->
        <!-- <ui-switch 
          checkedLabel="on"
          uncheckedLabel="SUPERDUPERLONGLABEL"
          [(ngModel)]="status.state"
          [defaultBgColor]="switchColor(status.state)"
          [disabled]="true"   
          (change)="onChange(i)"
        ></ui-switch> -->
        </label>     
      </a>
     
    </div>

    <!-- <div class="voltage navbar-default pull-right">
      <div class="col-xl-6">
        <label
          class="switch"
        >
        <ui-switch 
          class="ui-switch"
          [checked]="true" 
          (change)="changeVoltageClass()"
          defaultBgColor="#17b338"
        >
        </ui-switch>

        </label>
       <span #highVoltage class='label label-primary'>Vysoké napätie</span>
       
      </div>
    </div> -->


  </div>

</nav>

<!-- <ng-template> -->
  <div 
    bsModal 
    #lgModal="bs-modal" 
    class="modal fade" 
    tabindex="-1"
    role="dialog" 
    aria-labelledby="dialog-sizes-name1"
  >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4> -->
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-lg-12 text-center">
                  {{ selectedWarning }}
              </div>
          </div>
          <!-- <div class="row"> -->
              <div class="col-lg-12 text-center">
                  <i class="glyphicon glyphicon-exclamation-sign"></i>
              <!-- </div> -->
          </div>
      </div>
    </div>
  </div>
</div>
<!-- </ng-template> -->
