.period-select {
    width: 109px;
    position: absolute;
    left: 89.6%;
    top: 15px;
    height: 39px;
    z-index: 2;
}

.box {
    margin-top: 60px;
    position: relative;
    border-width: 2px; 
    border-style: solid;
    height: 500px;
    padding-top: 60px;
}

.graph-select {
    width: 85px;
    position: absolute;
    left: 1.6%;
    top: 15px;
    height: 39px;
    z-index: 2;
    width: auto;
}
  