<div class="box">
    <div class="period-select">
        <select 
            class="form-control" 
            [(ngModel)]="periodIndex" 
            (change)="changeInterval()"      
        >
            <option 
                *ngFor="let period of periodList; let i = index" 
                value="{{i}}"
            >
            {{period.name}}
            </option>
        </select>
    </div>

    <div class="graph-select">
        <select 
            class="form-control"   
            [(ngModel)]="graphName"   
            (change)="changeGraphType()" 
        >
            <option 
                *ngFor="let type of typeLists[graphType]; let i = index" 
                value="{{i}}"
            >
            {{type.name}}
            </option>
        </select>
    </div>
    
    <div [ng2-highcharts]="chart"></div> 
</div>

<label>{{typeLists[graphType][graphName].name}}</label>


